{% extends 'base/base.html'%}
{% load crispy_forms_tags %}


    {% block content %}
    <div class="container">
        <div class="content-section">
            <form method="POST" action="">
              <!-- token de seguridad de django -->  
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Registro Proveedor </legend>
                    <!-- Aqui se imprime el formulario de usuario  --> 
                    {{ form|crispy }}



                
        
                </fieldset>

                



                <div class="form-group">
                    <button class="btn blue-gradient" type="submit">
                        Crear Proveedor/editar
                    </button>
                </div>
    
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    need an Account
                    <a class="ml-2" href="{% url 'register' %}">SingUp Now</a>
                </small>
            </div>
        </div>
    </div>
    {% endblock %}