{% extends 'base/base.html'%}
{% load crispy_forms_tags %}


    {% block content %}
    <div class="container">
        <div class="content-section">
            <form method="POST" action="">
              <!-- token de seguridad de django -->  
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Lista proveedores </legend>
                    <!-- Aqui se imprime el formulario de usuario  --> 
                    {{ form|crispy }}
        
                </fieldset>
                
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 70%;">Nombre</th>
                <th>Opcion</th>
            </tr>
        </thead>
        <tbody>
    {% for prov in provs %}
             <tr>
                <th scope="row">{{prov.nombre_proveedor}}</th>
                <th>
                    <div class="row">
                        <div class="col6">
                            <a href="{% url 'editar_proveedor' prov.id_prov %}" class="btn dang ">editar</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'eliminar_proveedor' prov.id_prov %}" class="btn warn ">eliminar</a>
                        </div>
                    </div>
                  
                    
                    
                    <!---<input href="{%url 'editar_proveedor' prov.pk%}" class="btn blue-gradient"type="submit" value="Editar">
                    <input class="btn peach-gradient" type="reset" value="Eliminar"> -->
                </th>
            
            </tr>
    {%endfor%}

        </tbody>
    </table>        
                    
                <div class="text-center">
                    <a href="/proveedor/crear_proveedor" class="btn ">Nuevo Proveedor</a>
                </div>
                    
                

              
        
            </form>
           
        </div>
    </div>
    {% endblock %}
