.dang {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #fa3737;
    display: inline-block;
    cursor: pointer;
    color: #fa3737 !important;
    font-family: Arial;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
  }
  .dang:hover{
    background:#fa3737 ;
    color: white !important;
  }

  .warn {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #fa9f38;
    display: inline-block;
    cursor: pointer;
    color: #fa9f38 !important;
    font-family: Arial;
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: none;
  }
  .warn:hover{
    background:#fa9f38 ;
    color: white !important;
  }
  .volv {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #483cee;
    display: inline-block;
    cursor: pointer;
    color: #483cee !important;
    font-family: Arial;
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: none;
  }
  .volv:hover{
    background:#483cee ;
    color: white !important;
  }

  .car {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #388e3c;
    display: inline-block;
    cursor: pointer;
    color: #388e3c !important;
    font-family: Arial;
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: none;
  }
  