.dang {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #fa3737;
    display: inline-block;
    cursor: pointer;
    color: #fa3737 !important;
    font-family: Arial;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
  }

  .warn {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #fa9f38;
    display: inline-block;
    cursor: pointer;
    color: #fa9f38 !important;
    font-family: Arial;
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: none;
  }
  .bt{
    background: black;
    color: white;
}