{% load crispy_forms_tags %}
{% load static %}


<style>
    body,
    html {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    body {
        background-color: white;
    }

    .container {
        border: 4px groove;
        border-radius: 30px;
        padding: 17px;

        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media(max-width: 400px) {
        .container {
            width: 90%;
        }
    }
</style>



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />

    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/static/css/mdb.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />




    <title>ServiExpress</title>
</head>

<body>
    <div class="container" style="width: 600px;">

        <h3>Restablecimiento de contraseña enviado</h3>
        <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el
            correo electrónico que ingresó. Deberías recibirlos en breve.</p>

        <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y revise
            su
            carpeta de correo no deseado.</p>

    </div>
</body>





