{% extends 'base/base.html' %}
{% block content%}
<style>
    .dang {
	background-color:#ffffff;
	border-radius:4px;
	border:1px solid #fa3737;
	display:inline-block;
	cursor:pointer;
	color:#fa3737 !important;
	font-family:Arial;
	font-size:14px;
	padding:10px 20px;
    text-decoration:none;}

    .warn {
	background-color:#ffffff;
	border-radius:4px;
	border:1px solid #fa9f38;
	display:inline-block;
	cursor:pointer;
	color:#fa9f38 !important;
	font-family:Arial;
	font-size:14px;
	padding:10px 15px;
    text-decoration:none;
    
}



</style>


<div class="mt-3 mb-5" style="text-align: center;">
    <h1> Gestion de Clientes</h1>
</div>

<div class="mt-5">
    <table class="table table-striped ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col" style="padding-right: 75px;">Rut</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col" style="padding-right: 105px;">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col" style="padding-right: 90px;">Fecha Registro</th>
            <th scope="col" style="padding-right: 210px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.rut}}</td>
            <td > <a href="{% url 'user-detail' user.id %}">{{user.username}}</a> </td>
            <td>{{user.email}}</td>
            <td>{{user.direccion}}</td>
            <td>{{user.telefono}}</td>
            <td>{{user.date_joined}}</td>
            <td>
                
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'user-delete' user.id %}"class="btn dang" >
                                Eliminar
                           </a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'user-update' user.id %}" class="btn warn" style="color:black;">
                                Actualizar
                           </a>
                        </div>
                    </div>
            
                
               
    
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
</div>

  

    <div style="text-align:center;">
        <a class="btn" href="{% url 'register' %}">
            Crear Nuevo Cliente
        </a>
    </div>




{% endblock %}