{% extends 'base/base.html' %}
{% load urlfy %}
{% block content %}
{% load informes_tags %}

<div class="mt-3 mb-5" style="text-align: center;">
  <h1> Gestion de Reservas</h1>
</div>

{% if request.user|has_group:'admin' or request.user|has_group:'empleado' or request.user.is_staff %}

<div class="mt-5">
  <table class="table table-striped ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Fecha</th>
        <th scope="col">Patente</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col" class="text-nowrap">Modulo de tiempo</th>
        <th scope="col">Servicio</th>
        <th scope="col">Usuario</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for reserva in reservas %}
      <tr>
        <th scope="row">{{reserva.id_reserva}}</th>
        <td>{{reserva.fecha}}</td>
        <td>{{reserva.patente}}</td>
        <td>{{reserva.marca}}</td>
        <td>{{reserva.modelo}}</td>
        <td class="text-nowrap">{{reserva.modulo_tiempo.hora_inicio}} {{reserva.modulo_tiempo.hora_fin}}</td>
        <td>{{reserva.servicio.nombre_servicio}}</td>
        <td>{{reserva.usuario.first_name}} {{reserva.usuario.last_name}} </td>

        <td>

          <div class="row">
            <div class="col-6">
              <a href="{% url 'actualizar-reserva' reserva.id_reserva %}" class="btn warn" style="color:black;">
                Actualizar
              </a>

            </div>
            <div class="col-6">
              <a href="{% url 'elminar-reserva' reserva.id_reserva %}" class="btn dang">
                Eliminar
              </a>
            </div>
          </div>




        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endif %}


{% if request.user|has_group:'cliente' %}
<div class="mt-5">

  {% show_reservas_cliente %}

</div>
{% endif %}




<div style="text-align:center;">
  <a class="btn bt" href="{% url 'crear-reserva' %}" style="color:white; background:black;">
    Crear Nueva Reserva
  </a>
</div>





{% endblock %}