{% extends 'base/base.html' %} {% block content %}
<style>
  .errorlist {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.errorlist {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
</style>
<div>
  <div class="mt-3 mb-5" style="text-align: center;">
    <h1>Reserva</h1>
  </div>

  <form action="" method="POST">
    <!-- token de seguridad de django -->
    {% csrf_token %}

    <div class="col-6 mx-auto">
      {{form}}


    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    </div>

    <div class="text-center">
      <button class="btn bt" type="submit">Reservar</button>
    </div>
  </form>
</div>

{% endblock %}
