{% extends 'base/base.html'%}
{% load crispy_forms_tags %}
{% block content %}


    
<div class="row">
    <div class="col-md">
         <div class="card card-body">
            <h5>Servicios:</h5>
            
         </div>
     </div>

     <div class="col-md">
         <div class="card card-body">
             <h5>Holaaaaa</h5>
             <hr>
             <h1 style="text-align: center;padding: 10px"></h1>
         </div>
     </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID#</td>
            <td>Nombre Servicio</td>
            <td>Valor Servicio $</td>
            <td>Estado Servicio</td>
            <td>Acciones</td>

        </tr>
    </thead>

    <tbody>
        {% if servicios %}
        {% for servicio in servicios %}

        
        
        <tr>
            <td>{{servicio.id_servicio}}</td>
            <td>{{servicio.nombre_servicio}}</td>
            <td>{{servicio.valor_servicio}}</td>
            <td>{{servicio.id_estado_servicio}}</td>
            <td><a href="{% url 'actualizar-servicio' servicio.id_servicio %}" class="btn blue-gradient">Actualizar
            </a>
            <a href="" class="btn btn-danger">Eliminar

            </a>
        </td>

        </tr>


        {% endfor  %}

        {% else %}
        <h1>No hay registros de servicios</h1>

        {% endif %}
    
         
    </tbody>
</table>

<div style="text-align: center;">
    <a href="/servicio/registrar/" class="btn btn-primary">Nuevo Servicio</a>
</div>

{% endblock %}

    

    
