
{% extends 'base/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <form action="" method="POST">
        <a href="">Registrar Servicio</a>

        {% csrf_token %}

        <form action="" method="POST">


            <table>
                {{ form|crispy}}
                

            </table>

            <a href="{% url 'listar-servicio' %}" class= "volv">Volver</a>
            <input class="btn warn" type="reset" value="limpiar">
            <input class="vender"type="submit" value="Agregar">
            
            
            
            

        </form>

        
        

        
    </form>
    {{mensaje}}

    
    {% endblock %}