
{% extends 'base/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <form action="" method="POST">
        <a href="">Registrar Servicio</a>

        {% csrf_token %}

        <form action="" method="POST">


            <table>
                {{ form|crispy}}

            </table>

            
            <input type="submit" value="Agregar">
            <input type="reset" value="limpiar">
            
            

        </form>

        
        

        
    </form>
    {{mensaje}}

    
    {% endblock %}