{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="mt-3 mb-5 text-center" >
  <h1> Punto De Venta</h1>
</div>
<div class="row justify-content-center">
    <div class="col-6">
      <div class="mt-5">
        <label for="">cantidad de Productos en el carrito: <i class="fas fa-shopping-cart"></i>  {{cartItems}}</label>
        <table class="table table-striped ">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col" style="padding-right: 75px;">Precio</th>
              <th scope="col">Accion</th>
              
            </tr>
          </thead>
          <tbody>
              {% for product in products %}
              
            <tr>
              <th scope="row">{{product.nombre_servicio}}</th>
              <td>{{product.valor_servicio}}</td>
              
              <td>
                  
                      <div class="row">
                          <div class="col-6">
                            <button data-product={{product.id_servicio}} data-action ="add" class="add-btn update-cart btn car text-nowrap"><i class="fas fa-cart-plus"></i> Agregar al Carrito</button>
                              
                          </div>
                          </div>
                      </div>
              </td>
            </tr>
            {% endfor %}
  
          </tbody>
        </table>
      </div>  
    </div>
    <div>
      <div class="col-3 mt-5">
        <a href="{% url 'cart' %}" class="vender text-nowrap" style="margin-top: 2rem!important;">Proceder a Comprar</a>
      </div>
      <div class="col-3">
        <a href="{% url 'listar_order' %}" class=" volv text-nowrap" style="margin-top: 2rem!important; padding: 10px 31px!important;   ">Lista de ventas</a>
      </div>
    </div>

  
</div>



</div>

{% endblock %}